{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %} 


{% block content %}

<!-- login form section starts  -->

<section class="login">

    <form method="post">
        {% csrf_token %}
    
        <h3>login now</h3>
        <!-- <input type="email" name="" placeholder="enter your email" id="" class="box">
        <input type="password" name="" placeholder="enter your password" id="" class="box"> -->

        {{ login_form|crispy }}

        <div class="remember">
            <input type="checkbox" name="" id="remember-me">
            <label for="remember-me"> remember me </label>
        </div>
        <!-- <input type="submit" value="login now" class="btn"> -->
        <button type="submit" class="btn btn-primary py-3">Login now</button>

        <p>don't have an account?</p>
        <a href="{% url 'main:register' %}" class="btn btn-primary py-3">register now</a>
    </form>

</section>

<!-- login form section ends  -->

{% endblock %}













